<%- include ("partials/header.ejs") %>

<div class="ui main text container segment">
    <div class="ui huge header">
      New Blog
    </div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
          <label> Title
            <input type="text" name="blog[title]" placeholder="Title">
          </label>
        </div>
        <div class="field">
          <label> Image URL
          <input type="text" name="blog[image]" placeholder="image_url">
        </div>
        <div class="field">
          <label> Blog Post
          <textarea name="blog[body]" placeholder="Blog Post"></textarea>
        </div>
        <input type="submit" class="ui black basic button">
    </form>
</div>

<%- include ("partials/footer.ejs") %>
