/* This Stylesheet will make for the placement of the different components of the site */

body {
    background-color: #232323;
    color: white;
}

#header {
    background-color: steelblue;
    text-align: center;
}

#controls {
    background-color: white;
    color: steelblue;
    text-align: center;
}

.selected,
.control:hover {
    background-color: steelblue;
    color: white;
}

.card {
    padding: 10px;
    margin: 10px;
    height: 150px;
    border-radius: 15px;
}