/* This Stylesheet will make for the placement of the different components of the site */

body {
    background-color: #232323;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", "Avenir";
}

#header {
    background-color: steelblue;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.1;
}

.color_choice {
    font-size: 65px;
    font-weight: 400;
}

#controls {
    background-color: white;
    color: steelblue;
    text-align: center;
}

.selected,
.control:hover {
    background-color: steelblue;
    color: white;
}

.card {
    padding: 10px;
    margin: 10px;
    height: 150px;
    border-radius: 15px;
}