body {
    background-color: aliceblue;
}

#TODO_Container {
    margin: auto;
    margin-top: 100px;
    width: 200px;
}

#todo_input {
    width: 190px;
}

table {
    width: 200px;
}

tr {
    width: 200px;
}

.delete {
    display: none;
}

.strike {
    text-decoration: line-through;
    /* background-color: red; */
}

.hide {
    display: none;
}