body {
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* W3C */
    font-family: Roboto;
}

.todo_container {
    padding-top: 100px;
    width: 360px;
    margin: auto;
    line-height: 0;
}

.header {
    line-height: normal;
    background-color: #2980b9;
    color: white;
    display: flex;
    font-size: 24px;
    width: 360px;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
}

.table {
    width: 100%;
    line-height: normal;
    background-color: white;
}

.table td {
    border: none;
    height: 35px;
    display: flex;
    padding: 0;
    line-height: normal;
    text-align: center;
    align-items: center;
}

th input {
    width: 100%;
    padding: 0;
    border: none;
    background-color: #f7f7f7;
    padding: 13px 20px;
    color: #2980b9;
    font-size: 18px;
    font-weight: 400;
    border: 3px solid rgba(0, 0, 0, 0);
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 35px;
    padding: 0 2px;
}

.strike {
    text-decoration: line-through;
}

.hide {
    display: none;
}

.item {
    padding-left: 30px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}